<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"main"} -->
<main class="wp-block-group main"><!-- wp:template-part {"slug":"section-hero","tagName":"section","className":"hero"} /-->

<!-- wp:template-part {"slug":"section-news","tagName":"section","className":"news"} /-->

<!-- wp:template-part {"slug":"section-columns","tagName":"section","className":"columns"} /-->

<!-- wp:template-part {"slug":"section-about","tagName":"section","className":"about"} /-->

<!-- wp:template-part {"slug":"section-shop","tagName":"section","className":"shop"} /-->

<!-- wp:template-part {"slug":"section-products","tagName":"section","className":"products"} /-->

<!-- wp:template-part {"slug":"section-access","tagName":"section","className":"access"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:html -->
<p><a href="/hometown-tax-sumiya/">
  <picture><source srcset="/data/themes/gfsumiya/assets/hometown-tax.jpg" media="(min-width: 900px)"><img loading="lazy" src="/data/themes/gfsumiya/assets/hometown-tax_mb.jpg" alt="すみやのふるさと納税について">
  </picture>
</a></p>
<!-- /wp:html -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:heading {"textAlign":"center","level":3,"style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<h3 class="wp-block-heading has-text-align-center" id="company-profile" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)">会社概要</h3>
<!-- /wp:heading -->

<!-- wp:table {"hasFixedLayout":false,"className":"table"} -->
<figure class="wp-block-table table"><table><tbody><tr><td>社名</td><td>株式会社グリーンファーム角屋</td></tr><tr><td>基本理念</td><td>「住民と共に地域を創造する会社」</td></tr><tr><td>代表者</td><td>代表取締役社長 齋藤貴（さいとうたかし）</td></tr><tr><td>設立</td><td>1999年10月</td></tr><tr><td>資本金</td><td>900万円</td></tr><tr><td>所在地</td><td>〒910-4145 福井県あわら市角屋第7号12番地</td></tr><tr><td>事業内容</td><td>米、麦、大豆、大根、玉葱、越のルビーの生産・販売、米麹、味噌、漬物の製造販売</td></tr><tr><td>経営面積</td><td>18.5ha（米11.5ha・麦、大豆7ha）</td></tr><tr><td>組合戸数</td><td>16戸</td></tr></tbody></table></figure>
<!-- /wp:table --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"section-contact","tagName":"section","className":"contact"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->